html, body{
  overflow: hidden;
  margin: 0;
}
.container-book-viewer {
  background-color: #545454;
  height:100%;
  margin: 0;
}
.image-container {
  margin: 0;
  display: flex;
  justify-content: center;

}
.image-box {
  display: flex;
  align-items: center;
}
.page-buttons {
  display: flex;
  height: 100%;
  position: absolute;
  width: auto;
}
.go-left-button {
  position: relative;
  background-color: transparent;
  z-index: 10;
  right: 15%;
  border: none;
  outline: none;
  cursor: pointer;
}

.go-left-arrow-button {
  position: relative;
  left: -35%;
  height: 54px;
  width: 54px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: black;
  opacity: 75%;
  cursor: pointer;
}
.go-left-arrow {
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  border-left: 1px solid #545454;
  border-top: 1px solid #545454;
  position: absolute;
  right: 30%;
  top: 35%;
}

.go-right-button {
  position: relative;
  background-color: transparent;
  z-index: 10;
  left: 15%;
  border: none;
  outline: none;
  cursor: pointer;
}

.go-right-arrow-button {
  position: relative;
  right: -35%;
  height: 54px;
  width: 54px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: black;
  opacity: 75%;
  cursor: pointer;
}
.go-right-arrow {
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
  position: absolute;
  left: 30%;
  top: 35%;
}
.text {
  background-color: transparent;
  font-size: 50px;
  color: transparent;
}


.tooltip-bar {
  height: 5%;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  opacity: 75%;
}
.input {
  width: 50%;
  direction: rtl;
  margin: 1% 0px;
}