.container-book-viewer {
  background-color: gray;
}
.image-box {
  height: 95%;
  text-align: center;
  width :auto;
  margin: 0;
  mix-blend-mode: overlay; 
  display: flex;
  justify-content: center;
}
.image {
  height: 100%;
  width:auto;
  margin: 0;
}
.page-buttons {
  display: flex;
  height: 100%;
  position: absolute;
  width: auto;
}
.next-page-button {
  position: relative;
  background-color: transparent;
  z-index: 10;
  right: 15%;
  border: none;
  outline: none;
}

.back-page-button {
  position: relative;
  background-color: transparent;
  z-index: 10;
  left: 15%;
  border: none;
  outline: none;
}
.text {
  background-color: transparent;
  font-size: 50px;
  color: transparent;
}


.tooltip-bar {
  height: 5%;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
}
.input {
  width: 50%;
  direction: rtl;
  margin: 1% 0px;
}